# This file is an example of what your env.private.yaml could look like.
# Any keys provided here will OVERRIDE the keys in env.public.yaml.
# Keep env.private.yaml out of version control!

# Override the database password for local development
postgres:
  password: my_super_secret_password

# Or provide a secret key
secret_key: django-insecure-my-custom-key-that-is-very-long

# Toggle debug mode locally without changing the public repo template
debug: false
